{%- macro resolve(path) -%}
{%- set value = path | trim -%}
{%- if value is starting_with("http://")
   or value is starting_with("https://")
   or value is starting_with("mailto:")
   or value is starting_with("tel:")
   or value is starting_with("#")
   or value is starting_with("//") -%}
{{- value -}}
{%- elif value == "/" -%}
{%- set root_url = get_url(path="") | trim_end_matches(pat="/") -%}
{{- root_url ~ "/" -}}
{%- else -%}
{%- set resolved = get_url(path=value | trim_start_matches(pat="/")) -%}
{%- if value is ending_with("/") -%}
{%- set directory_url = resolved | trim_end_matches(pat="/") -%}
{{- directory_url ~ "/" -}}
{%- else -%}
{{- resolved -}}
{%- endif -%}
{%- endif -%}
{%- endmacro resolve -%}
